/* fonts*/

$font-main: 'Poppins', sans-serif;
$font-accent: 'Roboto', sans-serif;

/* colors */
$nav-color: #444;

$grey: #CACCD1;

$yellow: #E6B939;

$brown: #575445;

$white:  #FFF;

$breakpoint_xxl: 1200px;
$breakpoint_xl: 1060px;
$breakpoint_mb: 767px;
$breakpoint_sm: 576px;
